<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetron.organ.dao.UserRoleDao">
    <resultMap id="resultMap" type="UserRoleModel">
        <id column="user_id" property="userId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <insert id="add" parameterType="UserRoleModel"> 
        insert into sys_user_role(user_id,role_id)  
             values(#{userId},#{roleId})  
    </insert>
    
    <update id="update" parameterType="UserRoleModel" >
        update sys_user_role set role_id=#{roleId} where user_id=#{userId}
    </update>

	<select id="getById" parameterType="int" resultMap="resultMap">
        select * from sys_user_role where user_id = #{id}
    </select>
    
</mapper>